body{
    background-image: url("../backgrounds/menu.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#myButton{
    position: fixed;
    
    left: 30%;
    width: 40%;

    transform: none;
    z-index: 10;
}

.menu{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.clickerbutton {
    align-self: center;
    background-color: lightgoldenrodyellow;
    padding: 15px 15px 15px 15px;
    font-size: 25px;
    border-radius: 10px;
    display: block;
}
.clickerbutton:hover {
    opacity: 0.7;
    background-color: lightgoldenrodyellow;
    color: lightcoral;
    border-color:chocolate;
}
#maindiv {
    position: absolute;
    width: 100vw;
    height: 100vh;

    justify-content: center;
    align-items: center;
    
    backdrop-filter: blur(10px);

    z-index: 10;
}
#menu {
    display: flex;
}
body::-webkit-scrollbar {
    display: none;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

@keyframes disappear {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        display: none;
    }
}
#continueGame,#muteMusic,#newGame,#SaveProgress,#SellAll{
    display: none;
}
#muteMusic {
    margin-top: 16px;
    padding: 8px 16px;
    background-color: #008CBA;
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 8px;
}
#muteMusic:hover {
    color:black;
    left:9%;
}

#manual {
    margin-top: 16px;
    padding: 8px 16px;
    background-color: #008CBA;
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 8px;

    display: none;
}
#manual:hover {
    color:black;
    left:9%;
}

#continueGame {
    margin-top: 16px;
    padding: 8px 16px;
    background-color: #008CBA;
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 8px;
}
#continueGame:hover {
    color: black;
    left: 9%;
}

#close {
    margin-top: 16px;
    padding: 8px 16px;
    background-color: #008CBA;
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 8px;
}
    #close:hover {
        color: black;
        left: 9%;
    }

#newGame {
    margin-top: 16px;
    padding: 8px 16px;
    background-color: #008CBA;
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 8px;
}
    #newGame:hover {
        color: black;
        left: 9%;
    }
#SaveProgress {
    margin-top: 16px;
    padding: 8px 16px;
    background-color: #008CBA;
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 8px;
}
    #SaveProgress:hover {
        color: black;
        left: 9%;
     
    }

.insidediv {
    position: absolute;
    top: 10%;
    right: 5%;
    width: 200px;
    height: 100px;
}
#lessonbutton{
    display: none;
    padding: 3% 3% 3% 3%;
    right:30%;
    font-size:23px;
    border-radius:8px;
    background-color:antiquewhite;
    width:100%;
    height:100%;
}
#myImage {
    width: 20%;
    height: 50%;
    position: absolute;
    right: 0;
    bottom: 0;
    box-shadow: none;
    transition: box-shadow 0.3s ease;
}
#myImage:hover {
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.5);
}
#ST1 {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 20vw;
    height: 30vw;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease-in-out, transform 0.3s ease;
}
