* {
    cursor: url(pictures/cursor.png), auto;
}
cursor {
    width: 32px;
    height: 32px;
}
.clickerbutton {
    opacity: 1;
    align-self: center;
    background-color: lightgoldenrodyellow;
    padding: 15px 15px 15px 15px;
    font-size: 25px;
    border-radius: 10px;
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
    .clickerbutton:hover {
        opacity: 0.7;
        background-color: lightgoldenrodyellow;
        color: lightcoral;
        border-color:chocolate;
    }
.maindiv {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: lightblue;
}
body::-webkit-scrollbar {
    display: none;
}

body {
    overflow: hidden;
    user-select: none;
}
@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

@keyframes disappear {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}
#continueGame,#muteMusic,#newGame,#SaveProgress,#SellAll{
    opacity: 0;
}
    #muteMusic {
    margin-top: 16px;
    padding: 8px 16px;
    background-color: #008CBA;
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 8px;
    position: fixed;
    top: 60%;
    left: 7%;
    transform: translateY(-50%);
    }
    #muteMusic:hover {
        color:black;
        left:9%;

    }
#continueGame {
    margin-top: 16px;
    padding: 8px 16px;
    background-color: #008CBA;
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 8px;
    position: fixed;
    top: 40%;
    left: 7%;
    transform: translateY(-50%);
}
    #continueGame:hover {
        color: black;
        left: 9%;
    }
#newGame {
    margin-top: 16px;
    padding: 8px 16px;
    background-color: #008CBA;
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 8px;
    position: fixed;
    top: 30%;
    left: 7%;
    transform: translateY(-50%);
}
    #newGame:hover {
        color: black;
        left: 9%;
    }
#SaveProgress {
    margin-top: 16px;
    padding: 8px 16px;
    background-color: #008CBA;
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 8px;
    position: fixed;
    top: 50%;
    left: 7%;
    transform: translateY(-50%);
}
    #SaveProgress:hover {
        color: black;
        left: 9%;
     
    }

.insidediv {
    position: absolute;
    top: 10%;
    right: 5%;
    width: 200px;
    height: 100px;
}
#lessonbutton{
    opacity:0;
    padding: 3% 3% 3% 3%;
    right:30%;
    font-size:23px;
    border-radius:8px;
    background-color:antiquewhite;
    width:100%;
    height:100%;
}
#myImage {
    width: 20%;
    height: 50%;
    position: absolute;
    right: 0;
    bottom: 0;
    box-shadow: none;
    transition: box-shadow 0.3s ease;
}
    #myImage:hover {
        box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.5);
    }
#ST1 {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 20vw;
    height: 30vw;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease-in-out, transform 0.3s ease;
}

    #ST1:hover {
        transform: scale(0.9);
    }

    #ST1.animated.fadeIn {
        opacity: 1;
    }
/*#SellAll {
    margin-top: 16px;
    padding: 8px 16px;
    background-color: transparent;
    color: darkolivegreen;
    font-size: 1.5vw;
    border-color: black;
    border-radius: 8px;
    position: fixed;
    top: 80%;
    right: 25%;
    transform: translateY(-50%);
    text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.5);
    width:8vw;
    height:4vw;
}
    #SellAll:hover {
        color: white;
        background-color: black;
        top: 79.5%;
        text-shadow: 2px 2px 2px white;
    }*/